body{
    padding: 10px 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "h h h h h h"
        "a a m m m m"
        "f f f f f f";
    grid-gap: 5px;
    margin: 10px;
}
header{
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    grid-area: h;
}
header h1{
    font-size: 20px;
}
header ul{
    margin: 20px 0;
    padding: 0;
}
header li{
    display: inline-block;
    width: 150px;
    height: 20px;
}
header a{
    font-size: 20px;
    text-decoration: none;
    background-color: #000670;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}header a:hover{
    background-color: white;
    color: #000670;
}
.menu{
    border: 1px solid black;
    margin-top: 140px;
    margin-left: 610px;
    padding: 10px;
    height: 80px;
}
main{
    grid-area: m;
}
aside{
    border: 1px solid black;
    font-size: 20px;
    grid-area: a;
    height: 500px;
}
.article{
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    height: 328px;
    margin-bottom: 5px;
}
.section{
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    height: 125px;
    margin-top: 5px;
}
footer{
    grid-area: f;
    border: 1px solid black;
    height: 100px;
    font-size: 20px;
}
