body{
    padding: 10px 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "h h h h h h"
        "s s s s s s"
        "f f f f f f";
    grid-gap: 5px;
    margin: 10px;
}
header{
    grid-area: h;
    border: 1px solid black;
    padding: 10px;
    height: 160px;
}
header h1{
    font-size: 20px;
}
header ul{
    margin: 20px 0;
    padding: 0;
}
header li{
    display: inline-block;
    width: 150px;
    height: 20px;
}
header a{
    font-size: 20px;
    text-decoration: none;
    background-color: #000670;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}header a:hover{
    background-color: white;
    color: #000670;
}
.menu{
    border: 1px solid black;
    margin-left: 700px;
    height: 40px;
    padding: 10px;
}
section{
    border: 1px solid black;
    padding: 5px;
    grid-area: s;
}
.aside{
    border: 1px solid black;
    width: 190px;
    height: 400px;
    float: right;
    text-align: end;
}
.header{
    border: 1px solid black;
    width: 1600px;
    height: 20px;
    padding: 5px;
    text-align: end;
}
.article{
    border: 1px solid black;
    margin-top: 5px;
    width: 1600px;
    height: 290px;
    padding: 5px;
    text-align: end;
}
.footer{
    border: 1px solid black;
    margin-top: 5px;
    width: 1600px;
    height: 46px;
    padding: 5px;
    text-align: end;
}
footer{
    grid-area: f;
    border: 1px solid black;
    height: 50px;
    padding: 5px;
}