body{
    width: 1200px;
    margin: 0 auto;
    background-color: #CDEDF6;
}
header{
    width: 1198px;
    height: 250px;
    background-color: #B8C5D6;
    color: black;
    margin-top: 15px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 6px;
}
header .logo{
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
header h1{
    font-size: 20px;
    margin-left: 10px;
}
.menu{
    width: 564px;
    height: 41px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
}
.lateralesquerda{
    width: 295px;
    margin: 0 3px 0 0;
    border: 1px solid black;
    float: left;
    height: 550px;
    background-color: #947BD3;
    color: white;
    font-size: 20px;
}
main{
    width: 895px;
    border: 1px solid black;
    margin: 0 0 0 3px;
    height: 550px;
    background-color: #629460;
    color: white;
    float: right;
    font-size: 20px;
    background-image: url("/image/codigo02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 92%;
}
footer{
    margin-top: 6px;
    width: 1198px;
    height: 100px;
    border: 1px solid black;
    background-color: #BA274A;
    float: left;
    font-size: 20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.item-primario{
    width: calc(524px/5);
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 12px;
    background-color: #2d3436;
    color: #dce1e4;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 6px;
    margin: 03px 03px;
}
.item-primario:hover{
    background: #636e72;
}
.submenu{
    display: none;
    background: #2d3436;
    width: 104px;
    text-align: center;
    margin: 3px 0;
}
.item-primario:hover .submenu{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}
.submenu:hover{
    background-color: #636e72;
}